# NixiTubeClock build-time configuration template
# Copy to config.env and adapt values.
# config.env is gitignored.

# Hardware profile:
#   MASTER_NO_RTC -> no RTC module, internet time source
#   RTC_LOCAL     -> RTC module, local time from RTC only
HARDWARE_PROFILE=MASTER_NO_RTC

# Tube type:
#   ZM1000, IN4, DA2000
TUBE_TYPE=ZM1000

# Used by MASTER_NO_RTC profile
WIFI_SSID=YOUR_WIFI_SSID
WIFI_PASSWORD=YOUR_WIFI_PASSWORD
TIME_API_URL=http://worldtimeapi.org/api/timezone/Europe/Berlin.json
